@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
  --bg:#e5e9f0;
  --bgSoft:#4c566a;
  --tex:var(--bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}